@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
    --background : hsl(230, 17%, 14%);
    --top-background : hsl(232, 19%, 15%);
    --card : hsl(228, 28%, 20%);
    --text : hsl(228, 34%, 66%);
    --bw-text : hsl(0, 0%, 100%);
    --toggle : linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    background: var(--top-background);
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        right: 4px;
        bottom: 4px;
        background-color: var(--top-background);
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.light {
    --background : hsl(0, 0%, 100%);
    --top-background : hsl(225, 100%, 98%);
    --card : hsl(227, 47%, 96%);
    --text : hsl(228, 12%, 44%);
    --bw-text : hsl(230, 17%, 14%);
    --toggle : hsl(230, 22%, 74%);
    background: var(--top-background);

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--toggle);
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        right: 4px;
        bottom: 4px;
        background-color: var(--top-background);
        -webkit-transition: .4s;
        transition: .4s;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  input:checked + .slider {
    background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-26px);
    -ms-transform: translateX(-26px);
    transform: translateX(-26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* .borderInstagram {
    border-image: linear-gradient(to right ,hsl(37, 97%, 70%) , hsl(329, 70%, 58%)) 1;
    border-top: 4px;
    border-style: solid;
    border-radius: 0.375rem;
  } */